extends layout

block content
  h1 Drinkalytics API Reference

  p
    code GET <a href="/api/drinks">/api/drinks</a>
    |  &mdash; a list of drinks
  p
    code GET <a href="/api/drinks?student=timothy.ryan">/api/drinks?student=timothy.ryan</a>
    |  &mdash; a list of drinks by a student
  p
    code POST /api/drinks
    |  &mdash; body includes fields <b>"drink"</b> for what type of drink ("vodka", etc.)

  p
    code GET <a href="/api/users">/api/users</a>
    |  &mdash; a dictionary of users and their drink count

  p
    code GET <a href="/api/rankings">/api/rankings</a>
    |  &mdash; an array of rankings, in order