extends layout

block content
  h1 <s>It's drinkalytics time.</s>
  h1
    big ITS NOT YET DRINKALYTICS TIME ITS CURRENTLY IN BETA

  form(action="/drinks/liquor", method="post")
    button.btn.btn-success(name="inc", value="1") Drink! +1
    |  
    button.btn.btn-danger(name="inc", value="-1") -1

  p
    b Totals:
    blockquote
      p Liquor: 
        = totals.liquor
        |  drinks
        b  / 2013

  table.table.table-bordered(style="width: 400px")
    thead
      tr
        th Name
        th Liquor
    tbody
      each stat in stats
        tr
          td= stat.student
          td= stat.liquor