extends layout

block content
  h1 Drinkalytics

  form(action="/api/drinks", method="post")
    select(name="drink")
      option(checked, value="Vodka") Vodka
    |  
    button.btn.btn-success Drink! +1

  p
    b Totals:
    blockquote
      p Liquor: 
        = totals.drinks
        |  drinks
        b  / 2013

  table.table.table-bordered(style="width: 100%")
    thead
      tr
        th Name
        th Liquor
    tbody
      each stat in stats
        tr
          td= stat.id
          td= stat.drinks